.container {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 3(1fr);
    grid-template-rows: 3(1fr);
    grid-template-areas: "header-left header-center header-right" ". body-center ." "footer-left footer-center footer-right" ;

}

.headerLinkLeft {
    grid-area: header-left;
    color: black;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding-left: 15px;
    

}

.headerLinkRight {
    grid-area: header-right;
    color : black;
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    padding-right: 15px;
}

a:hover {
    text-decoration: underline;
}
